{% extends "bbs/base.html" %}
{% block title %}{{thread.title}} - Pybbs{% endblock %}
{% block body %}
<div class="container">
	<div class="header">
		<ul class="nav nav-pills pull-right">
			<li><a href="{% url 'bbs:index' %}">首页</a></li>
			<li><a href="#">关于</a></li>
		</ul>
		<h2 class="text-muted">简易聊天版</h2>
	</div>
	<hr />
	<div class="row">
	<h2>{{ thread.title }}</h2>
	<h6 class="text-muted">{{thread.pub_date}}</h6>
	</div>
	<div class="row">
	{% if thread.image %}
	<div class="col-sm-4">
		<a href="{{thread.image.url}}" target="_blank"><img src="{{thread.image.url}}" class="img-responsive img-thumbnail" /></a>
	</div>
	{% endif %}
	<div class="col-sm-8">
	<p>{{ thread.content }}</p>
	</div>
	</div>
	<hr />
	{% for comment in comments %}
	<div class="row">
	{% if comment.image %}
	<div class="col-sm-4">
		<a href="{{comment.image.url}}" target="_blank"><img src="{{comment.image.url}}" class="img-responsive img-thumbnail" /></a>
	</div>
	{% endif %}
	<div class="col-sm-8">
	<h6 class="text-muted">{{comment.pub_date}}</h6>
	<p>{{comment.content}}</p>
	</div>
	</div>
	<hr />
	{% empty %}
	<p>还没有评论</p>
	<hr />
	{% endfor %}
	<div class="row">
	<form id="form_comment" class="form-horizontal" role="form" action="{% url 'bbs:send_comment' thread.id %}" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="form-group">
		<label for="content" class="col-sm-2 control-label">评论</label>
		<div class="col-sm-8">
			<textarea id="content" name="content" class="form-control" rows="3"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="image" class="col-sm-2 control-label">图片</label>
		<div class="col-sm-8">
			<input type="file" id="image" name="image" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-8">
			<button type="submit" id="submit" class="btn btn-default">发布</button>
		</div>
	</div>
	</form>
	</div>

</div>

<script type="text/javascript">
$(function(){
	$("#form_comment").submit(function(e){
		if($("#content").val().trim()==""){
			e.preventDefault();
		}
		var ext_list="bmp,png,gif,jpeg,jpg";
		if($("#image").val()!=""){
			var file_path = $("#image").val()
			var ext = file_path.substring(file_path.lastIndexOf(".")+1,file_path.length).toLowerCase()
			if(ext_list.indexOf(ext)<0){
				alert("只能上传"+ext_list+"格式的图片！");
				e.preventDefault();
			}
		}
	});
});
</script>
{% endblock %}
